td {
    padding: 50px;
}

a:hover {
    color: red;
}

img {
    float: right;
    width: 300px;
    height: 300px;
    border-radius: 20%;
    /* Makes the image round */
}

img:hover {
    transform: scale(1.1);
    /* Scale the image on hover */
}

.App {
    text-align: center;
}

.hero {
    height: 30px;
    background-color: #caf0f8;
}

.home {
    height: 450px;
    background-color: #caf0f8;
}

.about {
    height: 200px;
    background-color: #caf0f8;
}

.skills {
    height: 400px;
    background-color: #caf0f8;
}

.projects {
    height: 300px;
    background-color: #caf0f8;
}

.contact {
    height: 300px;
    background-color: #caf0f8;
}

.link {
    color: crimson;
    text-decoration: none;
    display: inline;
    padding: 20px 20px;
    font-weight: 700;
    font-size: large;
    cursor: pointer;
}

.link:hover {
    color: black;
}